<h2 *ngIf='trip'>Edit Trip: {{ trip.name }}</h2>
<form *ngIf='trip' (ngSubmit)='updateTrip()'>
  <div>
    <label for='name'>Name:</label>
    <input id='name' name='name' type='text' [(ngModel)]='trip.name'>
  </div>
  <div>
    <label for='location'>Location:</label>
    <input id='location' name='location' type='text' [(ngModel)]='trip.location'>
  </div>
  <div>
    <label for='description'>Description:</label>
    <input id='description' name='description' type='text' [(ngModel)]='trip.description'>
  </div>
  <div>
    <label for='duration'>Duration:</label>
    <input id='duration' name='duration' type='number' [(ngModel)]='trip.duration'>
  </div>
  <div>
    <label for='price'>Price:</label>
    <input id='price' name='price' type='number' [(ngModel)]='trip.price'>
  </div>
  <button type='submit'>Update</button>
</form>
